.content {
  font-family: "Source Sans Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ebebeb;
}

#copyright {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

#copyright #copyright-link {
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#copyright #copyright-link:hover {
  opacity: 0.65;
}

.content {
  width: 60vw;
  margin: 4vw auto 4vw auto;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

@media (max-width: 1200px) {
  .content {
    margin-top: 5vw;
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .content {
    margin-top: 10vw;
    width: 90vw;
  }
}

.content #backarrow {
  font-size: 2vw;
  line-height: 70%;
  color: #202020;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.content #backarrow:hover {
  color: #505050;
}

@media (max-width: 1200px) {
  .content #backarrow {
    font-size: 2.75vw;
  }
}

@media (max-width: 600px) {
  .content #backarrow {
    font-size: 7vw;
  }
}

.content .title {
  margin: 10px;
  font-size: 2vw;
}

@media (max-width: 1200px) {
  .content .title {
    font-size: 2.75vw;
  }
}

@media (max-width: 600px) {
  .content .title {
    font-size: 7vw;
  }
}

.tilecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.tile {
  margin: 5px;
  width: 300px;
  text-align: center;
}

.tile .tilepic {
  width: 90%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.tile .tilepic:hover {
  opacity: 0.8;
}

.wideDialog {
  width: 86vw;
  left: 7vw;
  top: 14vh;
}

@media (max-width: 1200px) {
  .wideDialog {
    width: 94vw;
    left: 3vw;
  }
}

.tallDialog {
  width: 70vw;
  left: 15vw;
  top: 7vh;
}

@media (max-width: 1200px) {
  .tallDialog {
    width: 80vw;
    left: 10vw;
  }
}

#picDialog {
  z-index: 1;
  background-color: white;
  position: fixed;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  #picDialog {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
  }
}

#picDialog #picInDialog {
  height: auto;
  border-radius: 3px;
  display: inline-block;
  overflow-x: hidden;
}

@media (max-width: 1200px) {
  #picDialog #picInDialog {
    width: 90vw !important;
    border-radius: 5px;
  }
}

#picDialog .verticalPic {
  max-height: 71vh;
  margin: 7vh;
}

@media (max-width: 1200px) {
  #picDialog .verticalPic {
    margin: 5vw;
    margin-top: 75px;
    max-height: none;
  }
}

#picDialog .horizontalPic {
  margin: 7vh;
  width: 35vw;
}

@media (max-width: 1200px) {
  #picDialog .horizontalPic {
    margin: 5vw;
    margin-top: 125px !important;
  }
}

#picDialog #textInDialog {
  position: absolute;
  width: 40%;
  right: 14vh;
  top: 7vh;
  font-family: "Source Sans Pro", sans-serif;
}

@media (max-width: 1200px) {
  #picDialog #textInDialog {
    position: relative;
    width: 80%;
    margin: auto;
    right: 0;
    top: 0;
    font-size: 2.75vw;
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  #picDialog #textInDialog {
    font-size: 5vw;
  }
}

#picDialog #textInDialog #titleInDialog {
  font-size: 2.5vw;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  #picDialog #textInDialog #titleInDialog {
    font-size: 7vw;
  }
}

@media (max-width: 600px) {
  #picDialog #textInDialog #titleInDialog {
    font-size: 10vw;
  }
}

#picDialog #closebuttonInDialog {
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  right: 50px;
  top: 7vh;
  cursor: pointer;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

#picDialog #closebuttonInDialog:hover {
  opacity: 0.8;
}

@media (max-width: 1200px) {
  #picDialog #closebuttonInDialog {
    font-size: 3vw;
    top: 30px;
    right: 50px;
  }
}

@media (max-width: 600px) {
  #picDialog #closebuttonInDialog {
    font-size: 8vw;
    top: 20px;
    right: 20px;
  }
}

.no-show {
  display: none !important;
}

.low-opacity {
  opacity: 0.6 !important;
}
/*# sourceMappingURL=art.css.map */