.content {
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ebebeb;
}

@-webkit-keyframes marquee {
  0% {
    top: 0;
  }
  50% {
    top: -500%;
  }
  100% {
    top: 0;
  }
}

@keyframes marquee {
  0% {
    top: 0;
  }
  50% {
    top: -500%;
  }
  100% {
    top: 0;
  }
}

.content {
  margin: 4vw;
  margin-top: 2vw;
  margin-bottom: 7vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content .name {
  font-weight: 900;
  font-size: 10vw;
  display: inline-block;
}

.content .description {
  font-size: 1.5vw;
  max-width: 105vh;
  margin-left: 20px;
}

.content .media-container {
  margin: 20px;
}

.content .media-container .media-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
  margin: 0 3px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: width .2s, height .2s;
  transition: width .2s, height .2s;
}

.content .media-container .media-icon:hover {
  width: 50px;
  height: 50px;
}

.content .media-container .media-icon-github {
  background-image: url("../pix/icons/github.png");
  border-radius: 50%;
}

.content .media-container .media-icon-linkedin {
  background-image: url("../pix/icons/linkedin.png");
}

.content .media-container .media-icon-instagram {
  background-image: url("../pix/icons/instagram.png");
}

.content .spacer {
  width: 50px;
  height: 300px;
}

.content .card-container-anchor {
  margin: 5px;
  width: 100%;
  height: 5px;
}

.content .card-container {
  margin: 30px;
  max-width: 85vh;
  margin-left: 25px;
  margin-bottom: 50px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 12px #ececec;
          box-shadow: 5px 5px 12px #ececec;
}

.content .card-container .card-title {
  font-size: 2vw;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  text-decoration: underline;
}

.content .card-container .card-title a {
  color: black !important;
  -webkit-text-decoration-color: #f39b36 !important;
          text-decoration-color: #f39b36 !important;
  -webkit-transition: color .1s;
  transition: color .1s;
}

.content .card-container .card-description {
  text-decoration: none !important;
}

.content .card-container .card-photo-horizontal {
  width: 70%;
  height: auto;
}

.content .card-container .card-photo-vertical {
  width: 40%;
  height: auto;
}

.content .card-container .card-photo {
  margin: 30px;
  margin-bottom: 20px;
  margin-left: 0;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 12px #ececec;
          box-shadow: 5px 5px 12px #ececec;
  cursor: pointer;
  -webkit-transition: opacity .1s, -webkit-box-shadow .2s;
  transition: opacity .1s, -webkit-box-shadow .2s;
  transition: opacity .1s, box-shadow .2s;
  transition: opacity .1s, box-shadow .2s, -webkit-box-shadow .2s;
}

.content .card-container .card-photo:hover {
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 12px #dfdfdf;
          box-shadow: 5px 5px 12px #dfdfdf;
}

.content .photos-container {
  position: fixed;
  top: 0;
  right: 300px;
  width: 25vh;
  height: 100%;
  overflow: hidden;
}

.content .photos-container .slideshow-container {
  -webkit-animation: marquee 150s linear infinite;
          animation: marquee 150s linear infinite;
  display: block;
  height: 200vh;
  position: absolute;
}

.content .photos-container .slideshow-container .photo {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  line-height: 1;
}

.content .nav-container {
  position: fixed;
  top: 0;
  right: 50px;
  width: 200px;
  background-color: #fafafa;
  height: 100vh;
  padding: 50px 0px;
}

.content .nav-container .nav-option {
  white-space: nowrap;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 2vw;
  cursor: pointer;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.content .nav-container .nav-option:hover {
  background-color: #ebebeb;
}

.content .nav-container .nav-option .nav-arrow {
  opacity: 0;
  margin-left: 0px;
  -webkit-transition: opacity .2s, margin-left .5s;
  transition: opacity .2s, margin-left .5s;
}

.content .nav-container .nav-option .arrow-appear {
  opacity: 100%;
  margin-left: 5px;
}

.content .nav-container .spacer {
  width: 100%;
  height: 25px;
}

.content .nav-container .nav-option-small {
  font-size: 1.5vw;
}
/*# sourceMappingURL=landing.css.map */