.content {
  font-family: "Source Sans Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ebebeb;
}

#copyright {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

#copyright #copyright-link {
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#copyright #copyright-link:hover {
  opacity: 0.65;
}

body {
  background-color: #ebebeb;
}

@-webkit-keyframes marquee {
  0% {
    top: 0;
  }
  50% {
    top: -500%;
  }
  100% {
    top: 0;
  }
}

@keyframes marquee {
  0% {
    top: 0;
  }
  50% {
    top: -500%;
  }
  100% {
    top: 0;
  }
}

@media (max-width: 1200px) {
  .notmobile {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .mobile {
    display: none !important;
  }
}

.content {
  margin: 4vw;
  margin-top: 2vw;
  margin-bottom: 7vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1200px) {
  .content {
    margin-top: 4vw;
  }
}

@media (max-width: 600px) {
  .content {
    margin-top: 15vw;
    padding-bottom: 10vw;
  }
}

.content .name {
  font-weight: 900;
  font-size: 10vw;
  display: inline-block;
}

@media (max-width: 1200px) {
  .content .name {
    font-size: 12vw;
  }
}

@media (max-width: 600px) {
  .content .name {
    font-size: 20vw;
    line-height: 22vw;
  }
}

.content .description {
  font-size: 1.5vw;
  max-width: 105vh;
  margin-left: 20px;
}

@media (max-width: 1200px) {
  .content .description {
    font-size: 1.75vw;
  }
}

@media (max-width: 600px) {
  .content .description {
    margin-top: 10px;
    font-size: 4.5vw;
    margin-left: 5px;
  }
}

.content .media-container {
  margin: 20px;
}

@media (max-width: 600px) {
  .content .media-container {
    margin-left: 10px;
  }
}

.content .media-container .media-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
  margin: 0 3px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: width .2s, height .2s;
  transition: width .2s, height .2s;
}

.content .media-container .media-icon:hover {
  width: 50px;
  height: 50px;
}

.content .media-container .media-icon-github {
  background-image: url("../pix/icons/github.png");
  border-radius: 50%;
}

.content .media-container .media-icon-linkedin {
  background-image: url("../pix/icons/linkedin.png");
}

.content .media-container .media-icon-instagram {
  background-image: url("../pix/icons/instagram.png");
}

.content .spacer {
  width: 50px;
  height: 300px;
}

.content .card-container-anchor {
  margin: 5px;
  width: 100%;
  height: 5px;
}

.content .card-container {
  margin: 30px;
  max-width: 85vh;
  margin-left: 25px;
  margin-bottom: 50px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 12px #ececec;
          box-shadow: 5px 5px 12px #ececec;
}

@media (max-width: 600px) {
  .content .card-container {
    padding: 30px;
    margin: auto;
    margin-bottom: 40px;
  }
}

.content .card-container .card-title {
  font-size: 2vw;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .content .card-container .card-title {
    font-size: 6vw;
  }
}

.content .card-container .card-title a {
  color: black !important;
  -webkit-text-decoration-color: #f39b36 !important;
          text-decoration-color: #f39b36 !important;
  -webkit-transition: color .1s;
  transition: color .1s;
}

.content .card-container .card-description {
  text-decoration: none !important;
}

.content .card-container .card-photo {
  margin: 30px;
  margin-bottom: 20px;
  margin-left: 0;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 12px #ececec;
          box-shadow: 5px 5px 12px #ececec;
  cursor: pointer;
  -webkit-transition: opacity .1s, -webkit-box-shadow .2s;
  transition: opacity .1s, -webkit-box-shadow .2s;
  transition: opacity .1s, box-shadow .2s;
  transition: opacity .1s, box-shadow .2s, -webkit-box-shadow .2s;
}

.content .card-container .card-photo:hover {
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 12px #dfdfdf;
          box-shadow: 5px 5px 12px #dfdfdf;
}

@media (max-width: 600px) {
  .content .card-container .card-photo {
    margin-bottom: 0;
  }
}

.content .card-container .card-photo-horizontal {
  width: 70%;
  height: auto;
}

@media (max-width: 600px) {
  .content .card-container .card-photo-horizontal {
    width: 100%;
  }
}

.content .card-container .card-photo-vertical {
  width: 40%;
  height: auto;
}

@media (max-width: 600px) {
  .content .card-container .card-photo-vertical {
    margin: 10px;
    margin-top: 30px;
  }
}

.content .photos-container {
  position: fixed;
  top: 0;
  right: 300px;
  width: 25vh;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .content .photos-container {
    right: 75px;
  }
}

@media (max-width: 600px) {
  .content .photos-container {
    display: none;
  }
}

.content .photos-container .slideshow-container {
  -webkit-animation: marquee 150s linear infinite;
          animation: marquee 150s linear infinite;
  display: block;
  height: 200vh;
  position: absolute;
}

.content .photos-container .slideshow-container .photo {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  line-height: 1;
}

.content #hamburger {
  position: fixed;
  top: 15px;
  right: 10px;
  width: 45px;
  height: 45px;
  background-size: contain;
  margin: 0 3px;
  background-image: url("../pix/icons/hamburger.png");
  z-index: 3;
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  transition: transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s, -webkit-transform .2s;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .content #hamburger {
    display: none !important;
  }
}

.content #hamburger:hover {
  opacity: 0.65;
}

.content .rotated {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.content .appear {
  right: 0 !important;
}

.content .nav-container {
  position: fixed;
  top: 0;
  right: 50px;
  width: 200px;
  background-color: #fafafa;
  height: 100vh;
  padding: 50px 0px;
  -webkit-transition: right .2s;
  transition: right .2s;
}

@media (max-width: 1200px) {
  .content .nav-container {
    right: -500px;
    padding: 100px 0px;
  }
}

@media (max-width: 600px) {
  .content .nav-container {
    right: -300px;
    -webkit-box-shadow: 1px 0px 5px 5px #c2c2c2;
            box-shadow: 1px 0px 5px 5px #c2c2c2;
  }
}

.content .nav-container .nav-option {
  white-space: nowrap;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 2vw;
  cursor: pointer;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

@media (max-width: 1200px) {
  .content .nav-container .nav-option {
    font-size: 2.5vw;
  }
}

@media (max-width: 600px) {
  .content .nav-container .nav-option {
    font-size: 6vw;
  }
}

.content .nav-container .nav-option:hover {
  background-color: #ebebeb;
}

.content .nav-container .nav-option .nav-arrow {
  opacity: 0;
  margin-left: 0px;
  -webkit-transition: opacity .2s, margin-left .5s;
  transition: opacity .2s, margin-left .5s;
}

.content .nav-container .nav-option .arrow-appear {
  opacity: 100%;
  margin-left: 5px;
}

.content .nav-container .spacer {
  width: 100%;
  height: 25px;
}

.content .nav-container .nav-option-small {
  font-size: 1.5vw;
}

@media (max-width: 1200px) {
  .content .nav-container .nav-option-small {
    font-size: 2vw;
  }
}

@media (max-width: 600px) {
  .content .nav-container .nav-option-small {
    font-size: 5vw;
  }
}
/*# sourceMappingURL=landing.css.map */