.content {
  font-family: "Source Sans Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #ebebeb !important;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ebebeb;
}

.condensed {
  font-family: "Roboto Condensed", sans-serif !important;
}

#copyright {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

#copyright #copyright-link {
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#copyright #copyright-link:hover {
  opacity: 0.65;
}

.no-show {
  display: none !important;
}

.low-opacity {
  opacity: 0.6 !important;
}

.loaded {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 1 !important;
  overflow: visible !important;
}

.no-scroll {
  overflow: hidden !important;
}

.content {
  width: 90vw;
  margin: 4vw auto 4vw auto;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.content .tile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.content #backarrow {
  font-size: 2vw;
  line-height: 70%;
  color: #202020;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.content #backarrow:hover {
  color: #505050;
}

@media (max-width: 1200px) {
  .content #backarrow {
    font-size: 2.75vw;
  }
}

@media (max-width: 600px) {
  .content #backarrow {
    font-size: 7vw;
  }
}

.content .title {
  margin: 10px;
  font-size: 2vw;
}

@media (max-width: 1200px) {
  .content .title {
    font-size: 2.75vw;
  }
}

@media (max-width: 600px) {
  .content .title {
    font-size: 7vw;
  }
}

.content .desc {
  margin-top: 10px;
  margin-bottom: 40px;
}

.content .tile {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f6f6f6;
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
  font-family: "Source Sans Pro";
  width: 42vw;
  margin: 10px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: inline-block;
}

@media (max-width: 600px) {
  .content .tile {
    width: 100%;
    text-align: center;
  }
}

.content .tile:hover {
  opacity: 0.7;
}

.content .tile .tile-title {
  font-size: 2vw;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .content .tile .tile-title {
    font-size: 3vw;
  }
}

@media (max-width: 600px) {
  .content .tile .tile-title {
    font-size: 5vw;
  }
}

.content .tile .tile-img {
  width: 50%;
  float: right;
  margin-left: 20px;
  border-radius: 3px;
}

@media (max-width: 600px) {
  .content .tile .tile-img {
    float: none;
    width: 90%;
    margin-left: 0;
  }
}

.content .tile-img {
  width: 20vw;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: auto;
  background-color: #f6f6f6;
}

@media (max-width: 600px) {
  .content .tile-img {
    width: 40%;
    margin-top: 20px;
    height: auto;
  }
}

a {
  text-decoration: none !important;
  color: black !important;
}
/*# sourceMappingURL=play.css.map */