.content {
  font-family: "Source Sans Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #ebebeb !important;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ebebeb;
}

.condensed, #picDialog #textInDialog #titleInDialog {
  font-family: "Roboto Condensed", sans-serif !important;
}

#copyright {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

#copyright #copyright-link {
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#copyright #copyright-link:hover {
  opacity: 0.65;
}

.no-show {
  display: none !important;
}

.low-opacity {
  opacity: 0.6 !important;
}

.loaded {
  opacity: 1 !important;
  overflow: visible !important;
}

.no-scroll {
  overflow: hidden !important;
}

.content {
  font-family: "Source Sans Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #ebebeb !important;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ebebeb;
}

.condensed, #picDialog #textInDialog #titleInDialog {
  font-family: "Roboto Condensed", sans-serif !important;
}

#copyright {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

#copyright #copyright-link {
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#copyright #copyright-link:hover {
  opacity: 0.65;
}

.no-show {
  display: none !important;
}

.low-opacity {
  opacity: 0.6 !important;
}

.loaded {
  opacity: 1 !important;
  overflow: visible !important;
}

.no-scroll {
  overflow: hidden !important;
}

#backarrow {
  font-size: 2vw;
  line-height: 70%;
  color: #202020;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

#backarrow:hover {
  color: #505050;
}

@media (max-width: 1100px) {
  #backarrow {
    font-size: 2.75vw;
  }
}

@media (max-width: 600px) {
  #backarrow {
    font-size: 7vw;
  }
}

.title {
  margin: 10px;
  font-size: 2vw;
}

@media (max-width: 1100px) {
  .title {
    font-size: 2.75vw;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 7vw;
  }
}

.content {
  width: 60vw;
  margin: 4vw auto 4vw auto;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

@media (max-width: 1100px) {
  .content {
    margin-top: 5vw;
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .content {
    margin-top: 10vw;
    width: 90vw;
  }
}

.tilecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.tile {
  margin: 5px;
  width: 300px;
  text-align: center;
}

.tile .tilepic {
  width: 90%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.tile .tilepic:hover {
  opacity: 0.8;
}

#picDialog {
  width: 60vw;
  height: 100vh;
  left: 20vw;
  top: 0;
  padding: 15px 60px 50px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  background-color: white;
  position: fixed;
  text-align: center;
  overflow-y: scroll;
}

@media (max-width: 1100px) {
  #picDialog {
    width: 80vw;
    left: 10vw;
  }
}

@media (max-width: 600px) {
  #picDialog {
    width: 100vw;
    left: 0;
  }
}

#picDialog #picInDialog {
  margin-top: 30px;
  height: auto;
  border-radius: 3px;
  display: inline-block;
  overflow-x: hidden;
}

@media (max-width: 1100px) {
  #picDialog #picInDialog {
    border-radius: 5px;
  }
}

#picDialog .verticalPic {
  max-height: 60vh;
}

#picDialog .horizontalPic {
  width: 90%;
}

#picDialog #textInDialog {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

@media (max-width: 1100px) {
  #picDialog #textInDialog {
    margin-top: 30px;
    font-size: 1.75vw;
  }
}

@media (max-width: 600px) {
  #picDialog #textInDialog {
    text-align: left;
    font-size: 5vw;
  }
}

#picDialog #textInDialog #titleInDialog {
  font-size: 2.5vw;
  margin-bottom: 5px;
}

@media (max-width: 1100px) {
  #picDialog #textInDialog #titleInDialog {
    font-size: 4vw;
  }
}

@media (max-width: 600px) {
  #picDialog #textInDialog #titleInDialog {
    font-size: 10vw;
  }
}

#picDialog #closebuttonInDialog {
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  font-weight: 900;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  text-align: right;
}

#picDialog #closebuttonInDialog:hover {
  opacity: 0.8;
}

@media (max-width: 1100px) {
  #picDialog #closebuttonInDialog {
    font-size: 3vw;
  }
}

@media (max-width: 600px) {
  #picDialog #closebuttonInDialog {
    font-size: 8vw;
  }
}
/*# sourceMappingURL=port.css.map */