@import "all";
@import "header";

.content {
  width: 90vw;
  margin: 4vw auto 4vw auto;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  .tile-container {
    display: flex;
    flex-flow: row wrap;
  }
}

.contacts-container {
  margin: 50px auto;
  background-color: rgb(246, 246, 246);
  width: 35%;
  padding: 20px 40px;
  box-sizing: border-box;
  @media (max-width: $large) {
    width: 60%;
    text-align: center;
  }
  @media (max-width: $small) {
    width: 100%;
  }
  .contact {
    line-height: 30px;
    .contact-icon {
      float: left;
      line-height: 30px;
    }
    text-align: right;
  }
}

.linkable {
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
}