@import "all";

.content {
  width: 60vw;
  margin: 4vw auto 4vw auto;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;

  @media (max-width: $large) {
    margin-top: 5vw;
    width: 80vw;
  }
  @media (max-width: $small) {
    margin-top: 10vw;
    width: 90vw;
  }

  #backarrow {
    font-size: 2vw;
    line-height: 70%;
    color: rgb(32, 32, 32);
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: rgb(80, 80, 80);
    }
    @media (max-width: $large) {
      font-size: 2.75vw;
    }
    @media (max-width: $small) {
      font-size: 7vw;
    }
  }

  .title {
    margin: 10px;
    font-size: 2vw;
    @media (max-width: $large) {
      font-size: 2.75vw;
    }
    @media (max-width: $small) {
      font-size: 7vw;
    }
  }
}

.tilecontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 40px;
}

.tile {
  margin: 5px;

  width: 300px;

  text-align: center;

  .tilepic {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.1s;
    &:hover {
      opacity: 0.8;
    }
  }
}

#picDialog {
  width: 60vw;
  height: 100vh;
  left: 20vw;
  top: 0;
  padding: 15px 60px 50px 60px;
  box-sizing: border-box;

  @media (max-width: $large) {
      width: 80vw;
      left: 10vw;
  }
  @media (max-width: $small) {
    width: 100vw;
    left: 0;
  }

  z-index: 1;
  background-color: white;
  position: fixed;

  text-align: center;

  overflow-y: scroll;

  #picInDialog {
    margin-top: 30px;
    height: auto;
    border-radius: 3px;
    display: inline-block;
    @media (max-width: $large) {
      border-radius: 5px;
    }
    overflow-x: hidden;
  }
  .verticalPic {
    max-height: 60vh;
  }
  .horizontalPic {
    width: 90%;
  }
  #textInDialog {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    font-family: "Source Sans Pro", sans-serif;

    @media (max-width: $large) {
      margin-top: 30px;
      font-size: 1.75vw;
    }
    @media (max-width: $small) {
        text-align: left;
      font-size: 5vw;
    }

    #titleInDialog {
      font-size: 2.5vw;
      margin-bottom: 5px;
      @extend .condensed;
      @media (max-width: $large) {
        font-size: 4vw;
      }
      @media (max-width: $small) {
        font-size: 10vw;
      }
    }
  }

  #closebuttonInDialog {
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
    font-weight: 900;
    transition: opacity 0.1s;
    &:hover {
      opacity: 0.8;
    }
    text-align: right;
    @media (max-width: $large) {
      font-size: 3vw;
    }
    @media (max-width: $small) {
      font-size: 8vw;
    }
  }
}

