body {
    font-family: monospace;
    padding: 30px;
    font-size: 16px;
    width: 50vw
}

.interactable {
    color: blue;
    background-color:rgb(186, 255, 255);
    cursor: pointer;
}

.interactable:active {
    background-color:rgb(169, 223, 223);
}