body {
    font-family: "JetBrainsMono-Regular", sans-serif;
    font-size: 11pt;
    padding-bottom: 40px;
}

canvas {
    position: fixed;
    z-index: -1
    top: 0;
    left: 0;
}

h1 {
    font-family: "JetBrainsMono-Regular", sans-serif;
    font-weight: normal;
    font-size: 16pt;
}

.content {
    margin: auto;
    width: 60vw; 
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 767px) {
    .content {
        width: 90vw;
    }
}

.blue {
    color: blue;
}

.dark-blue {
    color: rgb(31, 31, 150);
}

.underline {
    text-decoration: underline;
}

.italic {
    font-family: "JetBrainsMono-RegularItalic", sans-serif;
}

.caption {
    font-size: 10pt;
}

.yarndings {
    font-family: "Yarndings", "Zapf Dingbats", sans-serif;
}

a {
    cursor: pointer !important;
}

img {
    border-radius: 5px;
}

img.tiny {
    max-width: 14vw;
}

img.small {
    max-width: 20vw;
    height: auto
}

img.medsmall {
    width: 35vw;
    height: auto;
}

img.medium {
    width: 50vw;
}

/* ARCHIVE STUFF (MAYBE MOVE OUT LOL ) */

.archive-image-box {
    display: flex;
    height: 15vw;
    flex-wrap: nowrap;
    max-width: 100%;
    gap: 10px
}

.archive-image {
    max-height: 100%;
    border-radius: 5px
}

.archive-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.archive-title {
    margin-bottom: 5px;
    font-size: 14pt;
}

.archive-details {
    display: flex;
    margin-bottom: 3px;
}

.archive-item {
    flex-basis: calc(100% / 2 - 30px);
    box-sizing: border-box;
    border: 1px dashed rgb(202, 202, 202);
    padding: 15px;
}

.archive-item-full {
    flex-basis: calc(100%)
}

.illustration-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.illustration-item {
    height: 15vw;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .archive-box {
        text-align: center;
    }
    .archive-image-box {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }
    .archive-image-box img:not(:first-child) {
        display: none;
    }
    .archive-image {
        max-height: 30vh;
        max-width: 90%;
    }
    .archive-details {
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    hr {
        opacity: 0;
        height: 0;
        width: 0;
    }
    .archive-detail {
        flex-basis: 100%;
    }
    .illustration-item {
        width: 100%;
        height: auto;
    }
}