:root {
    color-scheme: light;
    --bg: #ffffff;
    --fg: #000000;
    --border: rgb(202, 202, 202);
    --accent: rgb(134, 134, 250);
    --accent-dim: rgb(31, 31, 150);
    --box-fill: rgba(255, 255, 255, 1);
}
